[Desktop Entry]
Type=Application
Name=Aurora Droid
Exec=waydroid app launch com.aurora.adroid
Icon=/home/edywxz/.local/share/waydroid/data/icons/com.aurora.adroid.png
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
Actions=app-settings;

[Desktop Action app-settings]
Name=App Settings
Exec=waydroid app intent android.settings.APPLICATION_DETAILS_SETTINGS package:com.aurora.adroid
Icon=/home/edywxz/.local/share/waydroid/data/icons/com.android.settings.png
